
<header>
  <img src="">
  <h1>ALL CARS</h1>
</header>
<main>
  <% for(var i = 0; i < cars.length; i++ ) { %>
 <div>
   <h3><a href="/<%= cars[i].id %>"><%= cars[i].name %></a></h3>
   <p><%= cars[i].price %></p>
   <p><%= cars[i].condition %></p>
   <p><%= cars[i].year %></p>
   <p><%= cars[i].body %></p>
   <p><%= cars[i].color %></p>
 </div>
<% } %>
</main>
<footer></footer>
